{% if page.bg %}
  <aside class="sidebar" role="note" style="background-image: url({{ site.images | relative_url }}/{{ page.bg }})">
{% else %}
  <aside class="sidebar" role="note" style="background-image: url({{ site.images | relative_url }}/photo01.jpg)">
{% endif %}

  <div class="cover">

    <div class="cover-text">
      <div class="heading">


        {% if page.categories %}
          {% for categories in page.categories %}
            {% if page.tags %}
              {% for tag in page.tags %}
                <a href="{{ site.baseurl }}/{{ categories | downcase }}/#{{ tag | downcase }}">{{ tag | downcase }}</a>
              {% endfor %}
            {% else %}
              {{ page.title }}
            <!-- {% endif %} -->
            {% endfor %}
        {% else %}
          {{ page.title }}
        {% endif %}
        
        
        <!-- {% if page.tags %}
          {% for tag in page.tags %}
            <a href="{{ site.baseurl }}/posts/#{{ tag | downcase }}">{{ tag | downcase }}</a>
          {% endfor %}
        {% else %}
          {{ page.title }}
        {% endif %} -->

      </div>

      <p>
        {% if page.summary %}
          {{ page.summary }}
        {% endif %}
      </p>

    </div>

  </div>

  <div id="switcher"></div>
</aside>
